.image-container {
  position: relative;
  overflow: hidden;

}
.text-box {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
}

.btn-transparent{
  background-color: transparent;
  border-color: aliceblue;
  color: inherit;
}